---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
  Hello！

  <p class="p-4" />

  我的网络名称叫 CondorHero，取自我最喜欢的金庸小说「神雕侠侣」中神雕侠的英译，不过很明显这名字一点都不地道，反正不用作真名字，就是一个网络 ID，可以使用就好。

  <p class="p-4" />

  目前（2024-01）在一家公司从事「前端开发工作」工作将近四年，平时工作的技术栈主要是 React + antd 全家桶，公司边缘性项目使用 Vue 技术，因为项目需要 Node.js 开发也会偶尔接触。
  我想没有什么比直接展示自己的代码更能证明自己的能力了，平时工作中可以开源的项目都在 <a href="https://github.com/condorheroblog" target="_blank" rel="noopener noreferrer">GitHub</a> 如果能过帮到你帮忙点点 star。

  <p class="p-4" />

  最后，如果你是大公司的，并且团队氛围较好，恰巧还在招人，可以给我邮件：love2xinwei@gmail.com。
</LayoutDefault>
