---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
  Hello Everyone！

  <p class="p-4" />

   在互联网上，我的网络 ID 一般叫 CondorHero，取自我最喜欢的金庸小说「神雕侠侣」中的人物——「神雕侠」名字的英译，不过很明显这名字翻译的一点都不地道，反正不是用作真名字，就是一个网络 ID，可以使用就好。

  <p class="p-4" />

  2020-04-28 ~ 2024-01-31 本人在杉数科技从事「前端开发工作」，技术栈主要是 React + antd 全家桶，在这家公司收获很多，GitHub 上所有的开源项目都是在这家公司积累的，详情见： <a href="https://github.com/condorheroblog" target="_blank" rel="noopener noreferrer">GitHub</a>，如果这些项目能够帮到你，帮忙点点 star。
  如果你对我的技术文章感兴趣可以在 <a href="https://juejin.cn/user/1046390801441949" target="_blank" rel="noopener noreferrer">稀土掘金</a> 订阅我。

  <p class="p-4" />

  2024-07-01 ~ 2025-10-14 本人在上海博续明观科技有限公司供职，技术栈依然为 React，不过就我一个前端，虽然压力挺大，不过成长也大。

  <p class="p-4" />

  <p class="p-4" />

  最后，如果你团队氛围较好，恰巧还在招人，对我比较感兴趣，可以通过邮件 love2xinwei@gmail.com 联系我。

  <p class="p-4" />

  谢谢！
</LayoutDefault>
